@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import url("../fonts/roboto_light_regular_black_web/css/roboto.css");
.roboto-light {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.roboto-regular {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.roboto-black {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.text-header {
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.header {
  font-size: 0;
}
.header span,
.header a {
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}
.header span {
  margin-right: 18px;
}
.header span:last-child {
  margin-right: 0;
}
.header__topbar {
  padding: 0px 18px;
  background: #333439;
}
.header__topbar a {
  color: #9050ca;
  text-decoration: none;
}
.header__topbar a:hover {
  color: #fff;
}
.header__bar--show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #252525;
  z-index: 10;
  animation: showTheNav 0.5s ease-in-out;
}
.header__bar--hide {
  animation: hideTheNavMobile 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .header__bar--hide {
    animation: hideTheNav 0.5s ease-in-out;
  }
}
.header__bottombar_background {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  height: 65px;
}
.header__bottombar {
  position: absolute;
  margin: 0;
  padding: 10px 0px;
  background: #252525;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header__h-left {
  text-align: left;
  padding: 0;
}
.header__h-right {
  text-align: right;
  padding: 0;
}
.fa {
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
}
.header__menu ul {
  margin: 0;
  padding: 0;
}
.header__menu ul li {
  margin-right: 15px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 4px;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li a {
  color: #7D7D7D;
  text-decoration: none;
}
.header__menu ul li a:hover {
  color: #9050CA;
}
.header__logo {
  margin-left: 10px;
  height: 48px;
  width: 48px;
}
@keyframes showTheNav {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes hideTheNav {
  from {
    margin-top: 140px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes hideTheNavMobile {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 0px;
  }
}
.navigation {
  position: relative;
  margin: 2px 0;
  margin-right: 10px;
}
.navigation__mobile-icon {
  margin-right: 10px;
  padding: 15px;
  background: #4D4D4E;
  border-radius: 5px;
  cursor: pointer;
}
.navigation__mobile-icon:hover {
  background: #333439;
}
.navigation__mobile-icon:after {
  content: "";
  display: block;
  background-image: url("../icons/navigation.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
}
@media (min-width: 992px) {
  .navigation__mobile-icon {
    display: none;
  }
}
.navigation-menu {
  display: none;
  z-index: 99;
  position: absolute;
  right: 10px;
  top: 50px;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}
.navigation-menu li a {
  display: inline-block;
  width: 200px;
  padding: 5px 15px;
  background: #4D4D4E;
  color: #7D7D7D;
  text-decoration: none;
  border-bottom: solid 1px #6F6F6F;
}
.navigation-menu li a:hover {
  color: #9050ca;
  background: #333439;
}
@media (min-width: 992px) {
  .navigation-menu {
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
  }
  .navigation-menu li {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
  }
  .navigation-menu li a {
    background: none;
    width: auto;
    border-radius: 20px;
    padding: 0px 15px;
    border-bottom: none;
  }
  .navigation-menu li a:hover {
    color: #9050ca;
    background: #333439;
  }
}
.navigation-menu--mobile-menu {
  display: block;
}
@media (min-width: 992px) {
  .navigation__shop-button a {
    background: #9050ca !important;
    color: #fff !important;
  }
  .navigation__shop-button a:hover {
    background: #ad6ce7 !important;
    color: #fff;
  }
}
.navigation__form {
  display: none;
  position: relative;
}
.navigation__form:after {
  content: "\f002";
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 14px;
  line-height: 14px;
  font-family: FontAwesome;
  color: #7D7D7D;
}
.navigation__form input {
  outline: none;
  width: 0px;
  background: none;
  border-radius: 20px;
  margin: 4px 0;
  padding: 11px 10px;
  padding-left: 40px;
  border: none;
  transition: all 0.4s ease-in-out;
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.navigation__form input[type=search]:hover {
  background: #333439;
  cursor: pointer;
}
.navigation__form input[type=search]:focus {
  padding: 11px;
  padding-left: 40px;
  width: 150px;
  background: #333439;
}
@media (min-width: 992px) {
  .navigation__form {
    display: inline-block;
  }
}
.cover {
  margin: 40px 0px 48px;
}
@media (min-width: 768px) {
  .cover {
    margin: 60px 0px 48px;
  }
}
.cover__big-image {
  position: relative;
  overflow: hidden;
  max-height: 434px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .cover__big-image {
    margin-bottom: 0px;
  }
}
.cover__hover-box {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 30px;
  height: 130px;
  width: 320px;
  padding: 15px 15px 30px 15px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
@media (min-width: 768px) {
  .cover__hover-box {
    display: block;
  }
}
.cover__hover-title {
  margin: 0px 0px 12px;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.cover__hover-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.cover__small-images {
  display: flex;
  flex-direction: column;
}
.cover__small-images-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  height: 129px;
  background: #000;
}
@media (min-width: 768px) {
  .cover__small-images-box {
    height: 122px;
  }
}
@media (min-width: 992px) {
  .cover__small-images-box {
    height: 165px;
  }
}
@media (min-width: 1200px) {
  .cover__small-images-box {
    margin-bottom: 18px;
    height: 201px;
  }
}
.cover__small-images-box:last-child {
  margin-bottom: 0;
}
.cover__small-images-box:hover .cover__small-background-box {
  width: 200%;
  opacity: 0.4;
}
.cover__small-images-box:hover .cover__small-cover-box {
  border: solid 1px #A1A1A1;
}
.cover__small-cover-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 18px 18px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 1;
}
@media (min-width: 1200px) {
  .cover__small-cover-box {
    padding: 15px 20px;
  }
}
@media (min-width: 992px) {
  .cover__small-cover-box {
    padding: 15px 20px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .cover__small-cover-box {
    padding: 40px 20px;
  }
}
.cover__small-inner-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px #fff;
}
@media (min-width: 768px) {
  .cover__small-inner-box {
    height: auto;
  }
}
.cover__small-title-box {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.cover__small-text-box {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.cover__small-text-box:after,
.cover__small-text-box:before {
  content: "-";
  margin: 10px;
}
@media (min-width: 1200px) {
  .cover__small-text-box {
    display: block;
  }
}
.cover__small-background-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all ease-out 0.25s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.benefits {
  margin-top: 26px;
  margin-bottom: 33px;
}
.benefits__line-shadow {
  margin: 18px 20px;
  padding: 0 15px;
  height: 10px;
  background-image: url("../img/line-shadow.png");
  background-position: center  top;
  background-repeat: no-repeat;
  background-size: cover;
}
.benefits__container {
  margin: 0 0;
  padding: 30px 0;
}
.benefits__box {
  margin-bottom: 30px;
}
.benefits__box:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .benefits__box {
    margin: 0;
  }
}
.benefits__subtitle {
  padding: 0;
  margin: 0 0 8px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.benefits__subtitle .fa {
  font-size: 26px;
}
.benefits__text {
  padding: 0;
  margin: 0 0 11px;
  font-size: 13px;
  line-height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
}
a.filter__toggle {
  align-self: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0 20px;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin: 10px 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  a.filter__toggle {
    margin: 0;
  }
}
a.filter__toggle:after {
  transition: font-size, color, ease-out 0.25s;
  content: "\f04d";
  color: #ad6ce7;
  font-family: FontAwesome;
  position: absolute;
  font-size: 0px;
  top: -10px;
  right: 5px;
}
a.filter__toggle:hover {
  color: #ad6ce7;
}
a.filter__toggle:hover:after {
  font-size: 12px;
}
a.mixitup-control-active {
  color: #ad6ce7;
}
a.mixitup-control-active:after {
  font-size: 12px;
}
.store {
  margin-top: 80px;
  margin-bottom: 80px;
}
.store__card-box {
  padding: 0px;
}
.store__image-box {
  position: relative;
}
.store__image-box:hover .store__hover-box {
  display: block;
  top: 0;
  height: 100%;
}
.store__image-box:hover a.store__hover-button {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.store__hover-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  top: 50%;
  background: rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
}
.store__hover-layer {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}
a.store__hover-button {
  align-self: center;
  display: block;
  text-decoration: none;
  border-radius: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  background: #2d2d2d;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  transition: background ease-out 0.25s;
  -moz-transition: background ease-out 0.25s;
  -ms-transition: background ease-out 0.25s;
  -webkit-transition: background ease-out 0.25s;
  transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transition: transform ease-in-out 0.5s;
  -moz-transition: transform ease-in-out 0.5s;
  -ms-transition: transform ease-in-out 0.5s;
  -webkit-transition: transform ease-in-out 0.5s;
}
a.store__hover-button:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  a.store__hover-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 70%;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
  }
}
a.store__hover-button:hover,
a.store__hover-button:active,
a.store__hover-button:focus {
  background: #ad6ce7;
}
a.store__hover-button--green {
  background: #4BAF45;
}
a.store__hover-button:first-child {
  transition: transform ease-in-out 0.3s;
  -moz-transition: transform ease-in-out 0.3s;
  -ms-transition: transform ease-in-out 0.3s;
  -webkit-transition: transform ease-in-out 0.3s;
}
a.store__hover-button:last-child {
  transition: transform ease-in-out 0.7s;
  -moz-transition: transform ease-in-out 0.7s;
  -ms-transition: transform ease-in-out 0.7s;
  -webkit-transition: transform ease-in-out 0.7s;
}
a.store__link {
  margin-top: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
a.store__link:hover {
  color: #ad6ce7;
}
.store__price {
  text-align: center;
  font-size: 21px;
  color: #5CB85C;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.store__price:before {
  content: "$";
  margin-right: 5px;
}
.discount {
  background-image: url("../img/bg_4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
@media (min-width: 768px) {
  .discount {
    height: 380px;
  }
}
a.discount__button {
  text-decoration: none;
  padding: 18px 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #9050ca;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
}
a.discount__button:hover {
  background: #ad6ce7;
}
@media (min-width: 768px) {
  a.discount__button {
    font-size: 14px;
  }
}
.rewiews {
  position: relative;
  background-image: url("../img/bg_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 380px;
  display: block;
  overflow: hidden;
}
.rewiews__block {
  height: 100%;
}
.rewiews__contents {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 14%;
}
.rewiews__avatar-block {
  margin: 0 auto 20px;
  height: 90px;
  width: 90px;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 50%;
}
.rewiews__avatar-image {
  overflow: hidden;
  border-radius: 50%;
}
.rewiews__avatar-image img {
  width: 100%;
}
.rewiews__text {
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.rewiews__name-box {
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
}
@media (min-width: 992px) {
  .rewiews__name-box {
    font-size: 15px;
  }
}
.rewiews__name {
  color: #DB484B;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  display: block;
}
.rewiews__name:before,
.rewiews__name:after {
  color: #fff;
  content: "-";
  padding-right: 3px;
  padding-left: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .rewiews__name {
    display: inline;
  }
}
.rewiews__work {
  color: #777777;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: block;
}
.rewiews__work:after,
.rewiews__work:before {
  color: #fff;
  content: "-";
  padding-right: 3px;
  padding-left: 3px;
}
@media (min-width: 768px) {
  .rewiews__work {
    display: inline;
  }
  .rewiews__work:before {
    color: #fff;
    content: "";
    padding-right: 0px;
    padding-left: 0px;
  }
}
.footer {
  background: #252525;
}
.top-footer {
  padding-top: 30px !important;
  padding-bottom: 50px !important;
}
.top-footer__left-box {
  display: block;
  height: 230px;
}
@media (min-width: 768px) {
  .top-footer__left-box {
    border-right: 1px dotted #6D6D6D;
  }
}
.top-footer__left-tite {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__left-text {
  font-size: 13px;
  line-height: 22px;
  display: block;
  color: #6D6D6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.top-footer__left-list {
  font-size: 13px;
  display: block;
  color: #6D6D6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0 0px 0 18px;
}
.top-footer__left-list li {
  margin: 15px 0;
  padding: 0;
}
.top-footer__left-list li span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__menu {
  height: 230px;
  border-right: 1px dotted #6D6D6D;
}
.top-footer__menu-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__menu-list {
  font-size: 13px;
  display: block;
  color: #6D6D6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0 15px;
  list-style-type: none;
}
.top-footer__menu-list li {
  margin: 15px 0;
  padding: 0px 8px 0px 0px;
  position: relative;
}
.top-footer__menu-list li:before {
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  top: -2px;
  left: -16px;
  font-size: 14px;
  color: #9050ca;
}
.top-footer__menu-list li a {
  text-decoration: none;
  color: #6D6D6D;
}
.top-footer__menu-list li a:hover {
  color: #ad6ce7;
}
.top-footer__category {
  height: 230px;
}
@media (min-width: 992px) {
  .top-footer__category {
    border-right: 1px dotted #6D6D6D;
  }
}
.top-footer__category-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__category-list {
  font-size: 13px;
  display: block;
  color: #6D6D6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0 0px 0 18px;
  list-style-type: none;
}
.top-footer__category-list li {
  margin: 15px 0;
  padding: 0px 8px 0px 0px;
  position: relative;
}
.top-footer__category-list li:before {
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  top: -2px;
  left: -16px;
  font-size: 14px;
  color: #9050ca;
}
.top-footer__category-list li a {
  text-decoration: none;
  color: #6D6D6D;
}
.top-footer__category-list li a:hover {
  color: #ad6ce7;
}
.top-footer__subscribe {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .top-footer__subscribe {
    margin-top: 0px;
  }
}
.top-footer__subscribe-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__subscribe-text {
  font-size: 13px;
  line-height: 22px;
  display: block;
  color: #6D6D6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.top-footer__subscribe-box {
  margin: 10px 0px 20px;
}
.top-footer__subscribe-box input {
  display: inline-block;
  outline: none;
  height: 44px;
  width: 60%;
  padding: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .top-footer__subscribe-box input {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .top-footer__subscribe-box input {
    width: 60%;
  }
}
.top-footer__subscribe-box button {
  display: inline-block;
  outline: none;
  height: 44px;
  background: #3C3C3C;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__subscribe-box button:hover {
  background: #ad6ce7;
}
@media (min-width: 768px) {
  .top-footer__subscribe-box button {
    padding: 0 35px;
    width: auto;
  }
}
.top-footer__social-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.top-footer__social-box {
  font-size: 0;
  color: #fff;
}
.top-footer__social-box a {
  color: #fff;
  text-decoration: none;
}
.top-footer__social-box .fa-facebook {
  background: #6078aa;
}
.top-footer__social-box .fa-twitter {
  background: #00abf0;
}
.top-footer__social-box .fa-instagram {
  background: #BC58B4;
}
.top-footer__social-box .fa-linkedin {
  background: #0073b2;
}
.top-footer__social-box .fa-reddit-alien {
  background: #3d3d3d;
}
.top-footer__social-box .fa-google {
  background: #d95232;
}
.top-footer__social-box .fa {
  font-size: 14px;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
}
.top-footer__social-box .fa:hover {
  background: #3d3d3d;
}
.bottom-footer {
  background: #000;
  padding: 20px;
}
.bottom-footer__text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme-story .owl-nav {
  position: absolute;
  width: 100%;
  top: 45%;
}
@media (min-width: 768px) {
  .owl-theme-story .owl-nav {
    top: 50%;
  }
}
.owl-theme-story .owl-nav .owl-prev {
  top: -25px;
  position: absolute;
  left: 0px;
  opacity: 0.0;
  transition: all linear 0.1s;
}
.owl-theme-story .owl-nav .owl-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-story .owl-nav .owl-next {
  top: -25px;
  position: absolute;
  right: 0px;
  opacity: 0.0;
  transition: all ease-out 0.5s;
}
.owl-theme-story .owl-nav .owl-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-story .owl-nav .owl-next-animate {
  right: 10px;
  opacity: 0.7;
}
.owl-theme-story .owl-nav .owl-prev-animate {
  left: 10px;
  opacity: 0.7;
}
.owl-theme-story .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 10px 22px;
  background: #000;
  display: block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-story .owl-nav [class*='owl-']:hover {
  background: #9050ca;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme-rewiews .owl-nav {
  position: absolute;
  width: 100%;
  top: 45%;
}
@media (min-width: 768px) {
  .owl-theme-rewiews .owl-nav {
    top: 50%;
  }
}
.owl-theme-rewiews .owl-nav .owl-prev {
  top: -25px;
  position: absolute;
  left: 0px;
  opacity: 0.0;
  transition: all linear 0.1s;
}
.owl-theme-rewiews .owl-nav .owl-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-rewiews .owl-nav .owl-next {
  top: -25px;
  position: absolute;
  right: 0px;
  opacity: 0.0;
  transition: all ease-out 0.5s;
}
.owl-theme-rewiews .owl-nav .owl-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-rewiews .owl-nav .owl-next-animate {
  right: 10px;
  opacity: 0.7;
}
.owl-theme-rewiews .owl-nav .owl-prev-animate {
  left: 10px;
  opacity: 0.7;
}
.owl-theme-rewiews .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 10px 22px;
  background: #000;
  display: block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-rewiews .owl-nav [class*='owl-']:hover {
  background: #9050ca;
}
.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (min-width: 992px) {
  .owl-dots {
    bottom: 30px;
  }
}
@media (min-width: 992px) {
  .owl-dots {
    bottom: 40px;
  }
}
.owl-theme-rewiews .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-rewiews .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme-rewiews .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme-rewiews .owl-dots .owl-dot.active span,
.owl-theme-rewiews .owl-dots .owl-dot:hover span {
  background: #ad6ce7;
}
/* Box-sizing-model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
}
#pageloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 99;
}
.loader-icon {
  height: 100%;
  width: 100%;
  background-image: url("../img/preloader.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("../img/bg_1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background: #fff;
}
.row--no-margin {
  padding: 0;
  margin: 0;
}
.container--no-padding {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */