@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import url("../fonts/roboto_light_regular_black_web/css/roboto.css");
.roboto-light {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.roboto-regular {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.roboto-black {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.text-header {
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.header {
  font-size: 0;
}
.header span,
.header a {
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}
.header span {
  margin-right: 18px;
}
.header span:last-child {
  margin-right: 0;
}
.header__topbar {
  padding: 0px 18px;
  background: #333439;
}
.header__topbar a {
  color: #9050ca;
  text-decoration: none;
}
.header__topbar a:hover {
  color: #fff;
}
.header__bottombar {
  padding: 10px 0px;
  background: #181A1C;
}
.header__h-left {
  text-align: left;
  padding: 0;
}
.header__h-right {
  text-align: right;
  padding: 0;
}
.fa {
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
}
.header__menu ul {
  margin: 0;
  padding: 0;
}
.header__menu ul li {
  margin-right: 15px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 4px;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li a {
  color: #7D7D7D;
  text-decoration: none;
}
.header__menu ul li a:hover {
  color: #9050CA;
}
.header__logo {
  margin-left: 10px;
  height: 48px;
  width: 48px;
}
.navigation {
  position: relative;
  margin: 2px 0;
  margin-right: 10px;
}
.navigation__mobile-icon {
  margin-right: 10px;
  padding: 15px;
  background: #4D4D4E;
  border-radius: 5px;
  cursor: pointer;
}
.navigation__mobile-icon:hover {
  background: #333439;
}
.navigation__mobile-icon:after {
  content: "";
  display: block;
  background-image: url("../icons/navigation.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
}
@media (min-width: 992px) {
  .navigation__mobile-icon {
    display: none;
  }
}
.navigation-menu {
  display: none;
  z-index: 99;
  position: absolute;
  right: 10px;
  top: 50px;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}
.navigation-menu li a {
  display: inline-block;
  width: 200px;
  padding: 5px 15px;
  background: #4D4D4E;
  color: #7D7D7D;
  text-decoration: none;
  border-bottom: solid 1px #6F6F6F;
}
.navigation-menu li a:hover {
  color: #9050ca;
  background: #333439;
}
@media (min-width: 992px) {
  .navigation-menu {
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
  }
  .navigation-menu li {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
  }
  .navigation-menu li a {
    background: none;
    width: auto;
    border-radius: 20px;
    padding: 0px 15px;
    border-bottom: none;
  }
  .navigation-menu li a:hover {
    color: #9050ca;
    background: #333439;
  }
}
.navigation-menu--mobile-menu {
  display: block;
}
@media (min-width: 992px) {
  .navigation__shop-button a {
    background: #9050ca !important;
    color: #fff !important;
  }
  .navigation__shop-button a:hover {
    background: #ad6ce7 !important;
    color: #fff;
  }
}
.navigation__form {
  display: none;
  position: relative;
}
.navigation__form:after {
  content: "\f002";
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 14px;
  line-height: 14px;
  font-family: FontAwesome;
  color: #7D7D7D;
}
.navigation__form input {
  outline: none;
  width: 0px;
  background: none;
  border-radius: 20px;
  margin: 4px 0;
  padding: 11px 10px;
  padding-left: 40px;
  border: none;
  transition: all 0.4s ease-in-out;
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.navigation__form input[type=search]:hover {
  background: #333439;
  cursor: pointer;
}
.navigation__form input[type=search]:focus {
  padding: 11px;
  padding-left: 40px;
  width: 150px;
  background: #333439;
}
@media (min-width: 992px) {
  .navigation__form {
    display: inline-block;
  }
}
.cover {
  margin: 40px 0px 48px;
}
@media (min-width: 768px) {
  .cover {
    margin: 60px 0px 48px;
  }
}
.cover__big-image {
  position: relative;
  overflow: hidden;
  max-height: 434px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .cover__big-image {
    margin-bottom: 0px;
  }
}
.cover__hover-box {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 30px;
  height: 130px;
  width: 320px;
  padding: 15px 15px 30px 15px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
@media (min-width: 768px) {
  .cover__hover-box {
    display: block;
  }
}
.cover__hover-title {
  margin: 0px 0px 12px;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.cover__hover-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.cover__small-images {
  display: flex;
  flex-direction: column;
}
.cover__small-images-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  height: 129px;
  background: #000;
}
@media (min-width: 768px) {
  .cover__small-images-box {
    height: 129px;
  }
}
@media (min-width: 992px) {
  .cover__small-images-box {
    height: 172px;
  }
}
@media (min-width: 1200px) {
  .cover__small-images-box {
    margin-bottom: 18px;
    height: 208px;
  }
}
.cover__small-images-box:last-child {
  margin-bottom: 0;
}
.cover__small-images-box:hover .cover__small-background-box {
  width: 200%;
  opacity: 0.4;
}
.cover__small-images-box:hover .cover__small-cover-box {
  border: solid 1px #A1A1A1;
}
.cover__small-cover-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 18px 18px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 1;
}
@media (min-width: 992px) {
  .cover__small-cover-box {
    padding: 20px 20px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .cover__small-cover-box {
    padding: 40px 20px;
  }
}
.cover__small-inner-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px #fff;
}
@media (min-width: 768px) {
  .cover__small-inner-box {
    height: auto;
  }
}
.cover__small-title-box {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.cover__small-text-box {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
.cover__small-text-box:after,
.cover__small-text-box:before {
  content: "-";
  margin: 10px;
}
@media (min-width: 1200px) {
  .cover__small-text-box {
    display: block;
  }
}
.cover__small-background-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all ease-out 0.25s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.benefits {
  margin-top: 26px;
  margin-bottom: 33px;
}
.benefits__line-shadow {
  margin: 18px 0px;
  padding: 0 15px;
  height: 10px;
  background-image: url("../img/line-shadow.png");
  background-position: center  top;
  background-repeat: no-repeat;
  background-size: cover;
}
.benefits__container {
  margin: 0 0;
  padding: 30px 0;
}
.benefits__box {
  margin-bottom: 30px;
}
.benefits__box:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .benefits__box {
    margin: 0;
  }
}
.benefits__subtitle {
  padding: 0;
  margin: 0 0 8px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.benefits__subtitle .fa {
  font-size: 26px;
}
.benefits__text {
  padding: 0;
  margin: 0 0 11px;
  font-size: 13px;
  line-height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
}
a.filter__toggle {
  align-self: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0 20px;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin: 10px 0;
}
@media (min-width: 768px) {
  a.filter__toggle {
    margin: 0;
  }
}
a.filter__toggle:after {
  transition: font-size, color, ease-out 0.25s;
  content: "\f04d";
  color: #ad6ce7;
  font-family: FontAwesome;
  position: absolute;
  font-size: 0px;
  top: -10px;
  right: 5px;
}
a.filter__toggle:hover {
  color: #ad6ce7;
}
a.filter__toggle:hover:after {
  font-size: 12px;
}
.store {
  margin-top: 80px;
}
.store__card-box {
  padding: 20px;
}
.store__image-box {
  background: #fff;
}
.store__image:hover {
  opacity: 0.4;
}
a.store__link {
  margin-top: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
a.store__link:hover {
  color: #ad6ce7;
}
.store__price {
  text-align: center;
  font-size: 21px;
  color: #5CB85C;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme-story .owl-nav {
  position: absolute;
  width: 100%;
  top: 45%;
}
@media (min-width: 768px) {
  .owl-theme-story .owl-nav {
    top: 50%;
  }
}
.owl-theme-story .owl-nav .owl-prev {
  top: -25px;
  position: absolute;
  left: 0px;
  opacity: 0.0;
  transition: all linear 0.1s;
}
.owl-theme-story .owl-nav .owl-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-story .owl-nav .owl-next {
  top: -25px;
  position: absolute;
  right: 0px;
  opacity: 0.0;
  transition: all ease-out 0.5s;
}
.owl-theme-story .owl-nav .owl-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 22px;
}
.owl-theme-story .owl-nav .owl-next-animate {
  right: 10px;
  opacity: 0.7;
}
.owl-theme-story .owl-nav .owl-prev-animate {
  left: 10px;
  opacity: 0.7;
}
.owl-theme-story .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 10px 22px;
  background: #000;
  display: block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-story .owl-nav [class*='owl-']:hover {
  background: #9050ca;
}
/* Box-sizing-model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
}
.wrapper {
  background-image: url("../img/bg_1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.content {
  background: #fff;
}
.row--no-margin {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */