// Base
@import url("base/_fonts.less");
@import url("base/_variables.less");

// section
@import url("section/_header.less");
@import url("section/_navigation.less");
@import url("section/_cover.less");
@import url("section/_benefits.less");

// elements
@import url("elements/_owl.carousel.less");


/* Box-sizing-model */
*,
*:before,
*:after {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img{
	width: 100%;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clearfix{
	&:after{
		content: "";
		display: block;
	}
}

.wrapper{
	background-image: url("../img/bg_1.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
.content{
	background: #fff;
}

// Change-bootstrap
.container--no-padding{
	padding: 0;
}