// Base
@import url("base/_fonts.less");
@import url("base/_variables.less");

// section
@import url("section/_header.less");
@import url("section/_navigation.less");


/* Box-sizing-model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clearfix{
	&:after{
		content: "";
		display: block;
	}
}
