.cover {
	margin: 40px 0px 48px;
	@media (min-width:768px) {
		margin: 60px 0px 48px;	
	}
}
// ---------------------------------
//      .cover__big-image
// ---------------------------------
.cover__big-image {
	position: relative;
	overflow: hidden;
	max-height: 434px;
	margin-bottom: 12px;	
	@media (min-width:768px) {
		margin-bottom: 0px;	
	}
}
.cover__hover-box{
	display: none;
	position: absolute;
	left: 15px;
	bottom: 30px;
	height: 130px;
	width: 320px;
	padding: 15px 15px 30px 15px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	@media (min-width:768px) {
		display: block;
	}
}
.cover__hover-title{
	margin: 0px 0px 12px;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
	.roboto-regular;
}
.cover__hover-text{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.5;
	.roboto-light;
}
// ---------------------------------
//      .cover__small-images
// ---------------------------------
.cover__small-images{	
	display: flex; // flex  properties
	flex-direction: column; // flex  properties
}
.cover__small-images-box{
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
	height: 129px;
	background: #000;
	@media (min-width:768px) {
		height: 129px;	
	}
	@media (min-width: 992px) {
		height: 172px;	
	}
	@media (min-width: 1200px) {
		margin-bottom: 18px;
		height: 208px;	
	}
	&:last-child{
		margin-bottom: 0;
	}
	&:hover .cover__small-background-box{
		width: 200%;
		opacity: 0.4;
	}
	&:hover .cover__small-cover-box{
		border: solid 1px #A1A1A1;
	}
}
.cover__small-cover-box {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 18px 18px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	z-index: 1;
	@media (min-width:992px) {
		padding: 20px 20px;
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
	@media (min-width:1200px) {
		padding: 40px 20px;
	}
}
.cover__small-inner-box {
	height: 100%;
	display: flex; // flex  properties 
	align-items: center;  // flex  properties
	justify-content: center; // flex  properties
	padding: 22px;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.2);
	border: solid 1px #fff;
	@media (min-width:768px) {
		height: auto;
	}

}
.cover__small-title-box {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	.roboto-black;
}
.cover__small-text-box {
	display: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	.roboto-black;
	&:after, &:before{
		content: "-";
		margin: 10px;
	}
	@media (min-width:1200px) {
		display: block;	
	}
}
.cover__small-background-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all ease-out 0.25s;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
