.header{
	font-size: 0;
	 span, a {
		.text-header;
		line-height: 37px;
	}
	span{
		margin-right: 18px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.header__topbar{
	padding: 0px 18px;
	background: #333439;
	& a{
		color: @active-color;
		text-decoration: none;
		&:hover{
			color: #fff;
		}
	}
}
.header__bottombar{
	padding: 10px 0px;
	background: #181A1C;
}
.header__h-left {
	text-align: left;
	padding: 0;
}
.header__h-right {
	text-align: right;
	padding: 0;
}
.fa {
	// display: inline-block;
	font-size: 14px;
	line-height: 14px;
	margin-right: 5px;
}
.header__menu{
	& ul{
		margin: 0;
		padding: 0;

		& li{
			margin-right: 15px;
			display: inline-block;
			list-style-type: none;
			margin: 0;
			padding: 0 4px;

			&:last-child{
				margin-right: 0;
			}

			& a{				
				color: #7D7D7D;
				text-decoration: none;

				&:hover{
					color: #9050CA;					
				}
			}
		}
	}
}
.header__logo {
	margin-left: 10px;
	height: 48px;
	width: 48px;
}

